body {
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    color: #121212;
    padding: 0;
    margin: 0;
}

a {
    color: #121212;
    cursor: pointer;
    text-decoration: none;
}

.header-desktop {
    max-width: 900px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 0 auto;
    margin-top: 20px;
}

.item-header {
    cursor: pointer;
}

.item-header-movil img {
    width: 30px;
    margin-left: -23px;
}

.item-header:hover {
    text-decoration: underline;
}

.item-header img {
    width: 50px;
}

.btn-cambio-fondo img {
    width: 25px;
    opacity: 0.9;
    cursor: pointer;
}

.header-movil {
    display: none;
}

.menu-desplegable {
    display: none;
}

.seccion-info {
    width: 90%;
    max-width: 1000px;
    min-height: 100px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #ffffff;
    -webkit-box-shadow: 1px 5px 25px 1px rgba(0,0,0,0.08); 
    box-shadow: 1px 5px 25px 1px rgba(0,0,0,0.08);
    margin-top: 140px;
    padding: 10px;
    text-align: center;
}

.img-perfil {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 100px;
    border: 1px solid #121212;
    background-color: #ffffff;
    margin-top: -330px;
    margin-bottom: 240px;
    background-image: url('../img/perfil.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo {
    width: 100%;
    margin-top: 90px;
}

.subtitulo {
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
}

.box-email {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.email {
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
}

.email img {
    width: 24px;
    opacity: 0.9;
    margin-right: 10px;
}

.titulo-seccion {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.parrafo-seccion {
    max-width: 900px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    text-align: justify;
    padding: 10px;
}

.seccion-experiencia {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 70px;
}

.box-experiencia {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    text-align: justify;
}

.columna-principal {
    width: 20%;
    padding: 10px;
    text-align: left;
}

.columna-secundaria {
    width: 80%;
    padding: 10px;
}

.skills-experiencia {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.skills-experiencia img {
    width: 35px;
    margin-right: 10px;
}

.separador {
    width: 80%;
    height: 1px;
    margin: 0 auto;
    background-color: #121212;
    opacity: 0.2;
    margin-top: 40px;
    margin-bottom: 40px;
}

.seccion-proyectos {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 10px;
}

.contenedor-proyectos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box-proyecto {
    width: 300px;
    margin: 5px;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 5px 25px 1px rgba(0,0,0,0.08); 
    box-shadow: 1px 5px 25px 1px rgba(0,0,0,0.08);
}

.img-proyecto {
    width: 270px;
    height: 170px;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #121212;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.titulo-proyecto {
    width: auto;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    margin-bottom: -10px;
}

.titulo-proyecto:hover {
    text-decoration: underline;
}

.descripcion-proyecto {
    width: auto;
    height: 80px;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: justify;
    padding: 10px;
    margin-bottom: -10px;
}

.tecnologias-proyecto {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 15px;
}

.tecnologias-proyecto img {
    width: 25px;
    margin: 6px;
}

.seccion-conocimientos {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 10px;
}

.box-skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.box-skills img {
    width: 35px;
    margin: 5px;
}

.footer {
    width: auto;
    margin-top: 50px;
    height: 80px;
    text-align: center;
}

.footer img {
    width: 30px;
    margin: 0 auto;
    margin-top: 25px;
}

.seccion-contacto {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 10px;
    display: block;
    text-align: center;
}

.input-email {
    width: 88%;
    height: 40px;
    margin: 0 auto;
    border: 1px solid #1e1e1e3a;
    border-radius: 5px;
    padding: 0px 20px;
    outline: 0;
}

.input-mensaje {
    width: 88%;
    min-height: 200px;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #1e1e1e3a;
    border-radius: 5px;
    padding: 20px;
    outline: 0;
    font-family: 'Roboto', sans-serif;
}

.btn-enviar {
    width: 170px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px;
    border: 1px solid #121212;
    background-color: #ffffff;
    cursor: pointer;
}

.msg-error {
    display: none;
    width: auto;
    margin: 10px;
    color: #ff6e6e;
}

.msg-success {
    display: none;
    width: auto;
    margin: 10px;
    color: #49ce6b;
}

@media (max-width: 768px) {
    .header-desktop {
        display: none;
    }

    .header-movil {
        position: sticky;
        max-width: 768px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin: 0 auto;
        top: 0;
        padding: 10px 20px 0px 20px;
        background-color: #f9f9f9;
        -webkit-box-shadow: 1px 5px 25px 1px rgba(0,0,0,0.08); 
        box-shadow: 1px 5px 25px 1px rgba(0,0,0,0.08);
        z-index: 1;
    }

    .menu-desplegable {
        display: none;
        width: calc(100% - 20px);
        position: fixed;
        background-color: #f9f9f9;
        padding: 10px;
        padding-bottom: 20px;
        text-align: center;
        z-index: 2;
        border-bottom: 1px solid #1e1e1e1a;
    }

    .menu-desplegable .item-header {
        padding: 10px;
    }

    .img-perfil {
        width: 120px;
        height: 120px;
        margin-top: -280px;
        margin-bottom: 200px;
    }

    .seccion-info {
        margin-top: 100px;
    }

    .titulo {
        font-size: 24px;
        margin-top: 70px;
    }

    .box-experiencia {
        display: block;
    }

    .columna-principal {
        width: auto;
        text-align: center;
    }
    
    .columna-secundaria {
        width: auto;
        margin-top: -40px;
    }

    .skills-experiencia {
        justify-content: center;
    }

    /* ANIMACION HAMBURGUESA */
    .hamburger-menu {
        margin-top: -20px;
        margin-right: 10px;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    
    .bar,
    .bar:after,
    .bar:before {
        width: 30px;
        height: 2px;
    }
    
    .bar {
        position: relative;
        transform: translateY(25px);
        background: #121212;
        transition: all 0ms 300ms;
    }
    .bar.animate {
        background: rgba(255, 255, 255, 0);
    }
    
    .bar:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 10px;
        background: #121212;
        transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    
    .bar:after {
        content: "";
        position: absolute;
        left: 0;
        top: 10px;
        background: #121212;
        transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    
    .bar.animate:after {
        top: 0;
        transform: rotate(45deg);
        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    
    .bar.animate:before {
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    /* FIN ANIMACION HAMBURGUESA */
}

#img-grupetapp {
    background-image: url('../img/grupetapp.png');
}

#img-tarot {
    background-image: url('../img/tarot.png');
}

#img-felix {
    background-image: url('../img/felix.png');
}

#img-crousser {
    background-image: url('../img/crousser.png');
}

#img-acw {
    background-image: url('../img/acw.png');
}

#img-gaming {
    background-image: url('../img/gaming.png');
}